<form>
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Task</span>
        </div>
        <input type="text" aria-label="First name" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary">Cancel</button>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>

  <button type="submit" class="btn btn-primary" [routerLink]="['/']">Back</button>
